

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ROOT DECLARATION */
:root {
    --rk-primary: rgba(241, 98, 54, 1);
    --rk-colorBlack: "#000";
    --rk-primary-padding: 0;
    --rk-primary-margin: 0;
    --rk-sidebarBg: rgba(19, 26, 33, 1);
    --rk-auth-caption: rgba(16, 15, 36, 1);
    --rk-auth-label: rgba(52, 64, 84, 1);
    --rk-colorWhite: rgba(255, 255, 255, 1);
    --rk-colorWhiteLight: rgba(255, 255, 255, 0.75);
    --rk-colorGrayLight: rgba(145, 150, 151, 0.1);
    --rk-primary-variant: rgba(252, 225, 217, 1);
    --rk-primary-light: rgba(254, 247, 245, 1);
    --rk-fontManrope: "Manrope", sans-serif;
}



* {
    padding: var(--rk-primary-padding);
    margin: var(--rk-primary-margin);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    scrollbar-width: none;
    scroll-snap-type: both mandatory;
    font-family: var(--rk-fontManrope);
}

a {
    text-decoration: none;
}


.pBottom10 {
    padding-bottom: 10px;
}

.pBottom15 {
    padding-bottom: 15px;
}

.pBottom20 {
    padding-bottom: 20px;
}

.pBottom24 {
    padding-bottom: 24px;
}

.pBottom25 {
    padding-bottom: 25px;
}

.pBottom30 {
    padding-bottom: 30px;
}

.mTop10 {
    margin-top: 10px;
}

.mTop30 {
    margin-top: 30px;
}

.cursor {
    cursor: pointer;
}